version: '3.9'
services:
  party-rest-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      SPRING_DATA_REDIS_HOST: localhost
      SPRING_DATA_REDIS_PORT: 6379
      SPRING_PLUGIN_APIKEY: uj90812u948312uhj389fuhz98h12pß´l13rßé90ß14r87
  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379"